<div class="wContainer">
  <div class="meta-container">
    <div class="avatar-container">
      <img src="{{ contact.avatar }}" class="wig-img" />
      <div class="status">.</div>
    </div>
    <div class="meta">
      <div class="name">{{ contact.fname + " " + contact.lname }}</div>
      <span class="searchText">{{ contact.department }}</span>
    </div>
  </div>
  <div class="btn-container">
    <mat-icon>question_answer</mat-icon>
    <mat-icon>call</mat-icon>
    <mat-icon>more_horiz</mat-icon>
  </div>
</div>
